{% extends "base.html" %}
{% block title %}Hash Files - Proxmox VE Autopilot{% endblock %}
{% block content %}
<h2>Captured Hardware Hashes</h2>
{% if hash_files %}
<form method="POST" action="/api/hashes/delete">
<table>
<tr><th><input type="checkbox" onclick="var c=document.getElementsByName('files');for(var i=0;i<c.length;i++)c[i].checked=this.checked;"></th><th>VM</th><th>Serial</th><th>OEM</th><th>Size</th><th>Modified</th><th>Download</th></tr>
{% for f in hash_files %}
<tr>
  <td><input type="checkbox" name="files" value="{{ f.name }}"></td>
  <td>{{ f.vm_name }}</td>
  <td>{{ f.serial }}</td>
  <td>{{ f.oem }}</td>
  <td>{{ f.size }}</td>
  <td>{{ f.modified }}</td>
  <td><a href="/api/hashes/{{ f.name }}">Download</a></td>
</tr>
{% endfor %}
</table>
<br>
<input type="submit" value="Delete Selected">
</form>
<br>
<p><a href="/upload">Upload these to Intune</a> | <b>{{ hash_files | length }}</b> file(s)</p>
{% else %}
<p><i>No hash files yet. <a href="/provision">Provision some VMs</a> to capture hashes.</i></p>
{% endif %}
{% endblock %}
